.conteudo-txt-pagina1 {
  margin-top: -45rem;
  margin-bottom: 5rem;
}

.conteudo-txt-pagina1 h1 {
  font-size: 8rem;
}

.guia-img {
  right: 100%;
  margin-left: -20rem;
  margin-bottom: 0.1rem;
}
