@media (max-width: 1024px) {
  .menu .conteudo-menu {
    display: block;
    position: absolute;
    top: 4.8rem;
    right: 0;
    background-color: #ffffff;
    text-align: center;
    width: 50%;
    height: 0;
    z-index: 2;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .conteudo-menu a {
    padding: 1.6rem 0;
    margin-inline: 1.6rem;
    border-bottom: 0.1rem solid rgba(100, 148, 237, 0.253);
    border-radius: 0;
  }

  .espaco-abaixo-menu {
    display: none;
  }

  .label-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--azul-cor);
    padding-block: 1rem;
    cursor: pointer;
    color: #1c71a5;
    /* Define a cor do texto para azul */
  }

  .label-menu:hover{
    color: cornflowerblue;
  }

  .hamburger {
    border-top: 0.2rem solid;
    width: 2rem;
  }

  .hamburger::before,
  .hamburger::after {
    content: " ";
    display: block;
    width: 2rem;
    height: 0.2rem;
    background: currentColor;
    margin-top: 0.5rem;
    position: relative;
    transition: 0.3s;
  }

  .checkbox:checked ~ .conteudo-menu {
    height: 40vh;
    visibility: visible;
    overflow-y: auto;
  }

  .checkbox:checked ~ .label-menu .hamburger {
    border-top-color: transparent;
  }

  .checkbox:checked ~ .label-menu .hamburger::before {
    transform: rotate(135deg);
  }

  .checkbox:checked ~ .label-menu .hamburger::after {
    transform: rotate(-135deg);
    top: -0.7rem;
  }

  .menu ul li a:hover {
    color: cornflowerblue;
  }

  .menu ul li a::after {
   display: none;
  }
}

@media(max-width: 360px){
  .menu .conteudo-menu a{
    font-size: 1.5rem;
    margin-right: 0.2rem;
  }
}